@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");

#cards__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 32px;
  gap: 32px;
  max-width: 1440px;
  flex-direction: column-reverse;
}

html {
  font-size: 18px;
}
